
// Colours

$primary: #FF5A5F;

// Spacing

$spacer: 1.25rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8),
    11: ($spacer * 9),
    12: ($spacer * 10),
    13: ($spacer * 11),
    14: ($spacer * 12),
    15: ($spacer * 13),
    16: ($spacer * 14),
    17: ($spacer * 15),
    18: ($spacer * 16),
    19: ($spacer * 17),
    20: ($spacer * 18)
);
