{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "func-names": [
            "error",
            "never"
        ],
        "indent": ["error", 4],
        "react/jsx-indent": [1, 4],
        "react/jsx-indent-props": [1, 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/react-in-jsx-scope": "off",
        "react/no-array-index-key": "off",
        "class-methods-use-this": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "import/no-dynamic-require": "off",
        "comma-dangle": "off",
        "global-require": "off",
        "eqeqeq": "off",
        "max-len": "off",
        "no-new": "off",
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false, "varsIgnorePattern": "preact" }],
        "react/no-unknown-property": [2, { "ignore": ["stroke-linecap", "stroke-linejoin", "stop-color"] }]
    },
    "globals": {
        "vars": true,
        "breadcrumbs": true,
        "device": true,
        "cordova": true
    }
}
