@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.form {

    padding: pxrem(30px);

    &--hide {
        display: none;
    }

    &__description {
        margin: pxrem(5px) 0 0 0;
        font-size: pxrem(11px);
        color: $color-gray-600;
    }

    &__response {

        display: none;
        border-radius: $structure-border-radius;
        background-color: $color-gray-300;
        text-align: center;
        padding: pxrem(20px);

        &.is-active {
            display: block;
        }

        &--success,
        &--error {
            color: $color-white;
        }

        &--success {
            background-color: $color-green;
        }

        &--error {
            background-color: $color-red;
        }

        p {
            margin: 0;
        }

    }

    &__field {

        margin-bottom: pxrem(20px);
        position: relative;

        label {
            font-weight: bold;
            display: block;
            margin-bottom: pxrem(5px);
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        textarea,
        select {

            background-color: $color-white;
            border: 2px solid $color-gray-400;
            border-radius: $structure-border-radius;
            box-shadow: 0 0 0 transparent;
            padding: pxrem(10px) pxrem(40px) pxrem(10px) pxrem(15px);
            width: 100%;

            &::placeholder {
                color: $color-gray-400;
            }

            &:focus {
                border-color: $color-green;
            }

        }

        select,
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        textarea {
            padding: pxrem(10px);
            min-height: pxrem(100px);
        }

        a {
            color: $color-green;
        }

        &-clear {

            display: none;
            position: absolute;
            top: pxrem(35px);
            right: pxrem(10px);

            &.is-active {
                display: inline-block;
            }

        }

        .feather-icon {
            pointer-events: none;
        }

        .button {

            &[disabled] {
                background-color: $color-gray-600;
            }

            .loading {

                vertical-align: middle;

                svg {
                    height: pxrem(14px);
                    width: pxrem(14px);
                    stroke: $color-white;
                }

            }

        }

        &--hide {
            display: none;
        }

        &--submit {
            margin-top: pxrem(30px);
        }

        &--error {

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="number"],
            textarea,
            select {
                border-color: $color-red;
            }

            label {
                color: $color-red;
            }

        }

        &--description {

            p {
                margin: 0;
            }

        }

        &--select {

            .feather-icon {

                pointer-events: none;
                position: absolute;
                bottom: pxrem(7px);
                right: pxrem(10px);

                svg {
                    height: pxrem(24px);
                    width: pxrem(24px);
                }

            }

        }

        &--tnp {
            font-size: pxrem(13px);
        }

        &--checkbox {

            label {

                @include clearfix;
                cursor: pointer;

                i, span {
                    pointer-events: none;
                }

            }

            input {

                height: 1px;
                width: 1px;
                position: absolute;
                top: -2000px;
                left: -2000px;
                opacity: 0;

                &:checked + i + span {

                    background-color: $color-green;

                    &::before {
                        margin-left: pxrem(25px);
                    }

                }

            }

            span {

                transition: $transition-speed / 2;
                background-color: $color-gray-600;
                width: pxrem(53px);
                border-radius: pxrem(20px);
                padding: pxrem(4px);
                height: pxrem(28px);
                float: right;

                &::before {
                    content: "";
                    transition: $transition-speed / 2;
                    background-color: $color-white;
                    font-style: normal;
                    display: inline-block;
                    width: pxrem(6px);
                    height: pxrem(14px);
                    padding: pxrem(3px) pxrem(7px);
                    text-align: center;
                    border-radius: 100%;
                    text-transform: uppercase;
                    font-size: pxrem(12px);
                }

            }

            i {
                line-height: pxrem(28px);
                font-style: normal;
                float: left;
            }

        }

    }

}
