@import '../../assets/scss/functions';
@import '../../assets/scss/variables';

.list {

    &__thumb {

        background-position: center;
        background-size: cover;
        height: 100%;
        position: relative;

        &--meetup:after {
            content: "";
            background-image: url('./meetup-icon.png');
            background-position: center;
            background-size: contain;
            display: block;
            height: pxrem(18px);
            width: pxrem(18px);
            position: absolute;
            bottom: pxrem(3px);
            left: pxrem(3px);
        }

    }

    &__content {
        padding: pxrem(12px);
    }

    &__title {

        font-size: pxrem(16px);

        &--unread:before {
            content: "";
            background-color: $color-gray-700;
            border-radius: 100%;
            display: inline-block;
            height: pxrem(10px);
            width: pxrem(10px);
            margin-right: pxrem(5px);
        }

    }

}
