@import '../../../assets/scss/functions';

.home {

    &__logo {
        height: auto;
        width: pxrem(75px);
    }

    &__title {

        font-weight: bold;
        font-size: pxrem(32px);

        & > span {

            font-size: pxrem(16px);

            span {
                font-size: pxrem(38px);
            }

        }

    }

    &__subtitle {
        letter-spacing: 1px;
    }

}
