@import '../../../assets/scss/functions';

.home {

    &__title {

        font-weight: bold;
        font-size: pxrem(32px);
        margin: 0 0 pxrem(30px) 0;

        & > span {

            font-size: pxrem(16px);

            span {
                font-size: pxrem(38px);
            }

        }

    }

    &__subtitle {
        letter-spacing: 1px;
    }

}
